#enterAnim {
  animation: Enter 1s ease-in-out;
}
#modal, #alert {
  animation: fadeIn 2s ease-in-out;
}

@keyframes Enter {
  0% {
    transform: scale(0.9) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}